body{
    background-color: #757575 !important;
    margin: 0px;
    /* max-height: 100%; */
}
h1{
    text-align: center;
    color: white;
}
.bdy{
    width: 40%;
    position: relative;
}
fieldset{
    margin-left: 20px;
}
.field{
    border: none;
    border-bottom: 2px solid #2cc0c5;

    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.frm{
    /* width: 90%; */
    margin: 30px auto;
    background-color: #ffffff;
}
.field:focus {
  border-bottom: 3px solid green;
}
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
button{
    width: 100px;
    float: right;
}

/* css for the floating images */
img{
    position: absolute;
}
.imag{
    object-fit: none;

    top: 0%;
    left: 0%;
    height: 50%;
    width: 22%;
    height: 100%;
    object-position: 100% 0;

    /* -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); */
}
.imag2{
   top: 0%; 
   right: 0%;
   object-fit: cover;
   width: 22%;
   height: 100%;
}
.imag3{
    width: 3%;
    left: 18%;
}
.output{
    max-width: 100%; 
    max-height: 50%; 
    text-align: center;
    font-size: 2em;
    font-style: bold;
}
